<p id="notice"><%= notice %></p>

<p>
  <b>Employee:</b>
  <%= @comment.employee_id %>
</p>

<p>
  <b>Project:</b>
  <%= @comment.project_id %>
</p>

<p>
  <b>Comment:</b>
  <%= @comment.comment %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
